<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no"
    />
    <title>My Parking</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/main.css" />

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  </head>

  <body class="bg-primary-subtle">
    <nav class="navbar bg-success fixed-top">
      <span class="navbar-item mx-5">
        <b>{{g.usuario.nome}}</b>
      </span>
      <a
        href="#"
        class="pe-auto fw-bold text-black"
        onclick="goToLoc('/menu/<tipo>/<mensagem>')"
        >MENU</a
      >
    </nav>
    <section class="">
      <div class="container mt-5">
        <div class="row">
          <div class="col">
            <p class="h2 m-3">Escolha o tipo de pesquisa</p>
            <form method="POST">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="tipoPesquisa"
                  value="locador"
                />Locador
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="tipoPesquisa"
                  value="vagaId"
                />
                ID da vaga
              </div>
              <p></p>
              <p>Digite a pesquisa conforme a opção escolhida acima</p>
              <input type="text" name="entrada" class="border-0 rounded-2" />
              <p></p>
              <input type="text" name="qualFormulario" value="form1" hidden />
              <button class="btn btn-primary">Pesquisar</button>
            </form>
            <hr />
            {% if erro %}
            <div
              class="h-auto bg-danger-subtle rounded-5 my-3 p-3 d-flex justify-content-center"
            >
              <p class="m-3">{{mensagem}}</p>
            </div>
            {% endif %} {% if pesquisaVagas != None %} {% for spot in
            pesquisaVagas %}
            <div class="parking-spot">
              <p class="h3">{{ spot.nome}}</p>
              <p></p>
              <p>Endereço: {{ spot.endereço }}</p>
              <p>Preço por dia: R$ {{ spot.preço }}</p>
              <p>Latitude: {{ spot.latitude }}</p>
              <p>Longitude: {{ spot.longitude }}</p>
              <p>Tipo: {{ spot.tipo }}</p>
              <p>Referencia: {{ spot.referencia }}</p>
              <p>Adicional: {{ spot.adicional }}</p>
            </div>
            <form method="POST" class="m-2">
              <button class="btn btn-primary">Ver avaliações</button>
              <input type="text" name="qualFormulario" value="form2" hidden />
              <input type="text" name="idVaga" value="{{spot.id}}" hidden />
            </form>

            <button
              type="button"
              class="btn btn-danger m-2"
              onclick="mostra('confirmar{{spot.id}}')"
            >
              Excluir vaga
            </button>
            <div id="confirmar{{spot.id}}" hidden>
              <p>Tem certeza que deseja excluir esta vaga?</p>
              <button
                type="button"
                class="btn btn-success m-2"
                onclick="esconde('confirmar{{spot.id}}')"
              >
                Retornar
              </button>
              <form method="POST">
                <button class="btn btn-danger m-2">Confirmar</button>
                <input
                  type="text"
                  name="vagaAExcluir"
                  hidden
                  value="{{spot.id}}"
                />
                <input type="text" name="qualFormulario" value="form3" hidden />
              </form>
            </div>
            <hr />
            {% endfor %} {% endif %}
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="/static/script.js"></script>
</html>
